@use '../../global/variables';

.newsletter {
  padding: 48px 0;
  border-top: 1px solid var(--c-indigo-20);
  border-bottom: 1px solid var(--c-indigo-20);

  hgroup {
    padding-right: 40px;
    display: flex;

    img {
      width: 64px;
      height: 64px;
      margin-right: 16px;
      display: inline-block;
      vertical-align: middle;
    }

    div {
      flex: 1;
    }
    h2 {
      margin: 0 0 6px;
    }
    p {
      margin: 0;
      line-height: 23px;
    }
  }

  form {
    display: flex;

    input {
      flex: 1;
      padding: 5px 10px 5px 16px;
      margin-right: 8px;
      width: 200px;
      min-height: calc(100% - 1px);
      background-color: #fff;
      border: 1px solid var(--c-indigo-30);
      border-radius: 6px;
      font-size: 16px;
      font-weight: 400;
      color: #070D12;
      letter-spacing: -0.22px;

      &:placeholder {
        color: #6D6C82
      }
    }

    button {
      flex: 0;
      background-color: #119EFF;
      color: white;
    }
  }

  @media screen and (max-width: variables.$breakpoint-md) {
    .container {
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: space-between;
    }
    hgroup,
    form {
      flex: 0 0 100%;
    }
    hgroup {
      padding: 0;
    }
    form {
      margin-top: 24px;
      width: 100%;
      justify-content: center;
    }
  }
}

.landing-page .newsletter {
  background-color: #102331;
}
