@use '../../global/variables';


:host {
  overflow-x: hidden;
  display: block;
}

section {
  margin-bottom: 196px;
}

.hero {
  overflow-x: hidden;
  position:relative;
  margin-bottom: 96px;

  hgroup {
    position: relative;
  }

  &__background {
    position: absolute;
    bottom: 100px;

    width: 1800px;
    height: 1800px;
    left: calc(calc((1800px - 100%) / -2) - 50px);

    background: #F6F9FC;
    transform: rotate(29deg) skewX(-30deg);

    z-index: -1;
  }

  img {
    max-width: 100%;
  }
  &__heading {
    padding-top: 120px;
    h1 {
      font-size: 64px;
      line-height: 100%;
      letter-spacing: var(--f-tracking-dense);
      color: var(--c-carbon-100);
      margin-bottom: 16px;
      font-family: var(--f-family-display);
    }
    h3 {
      margin-top: 12px;
      margin-bottom: 16px;
      font-size: 22px;
      line-height: 160%;
      font-family: var(--f-family-text);
      letter-spacing: var(--f-tracking-tight);
      color: #2D4665;
      font-weight: normal;
    }
  }

  &__platforms {
    height: 16px;
    margin-top: 16px;
  }

  &__graphic {
    padding-top: 96px;
  }

  &__buttons {
    .ui-button {
      box-shadow: 0px 1px 2px rgba(2, 8, 20, 0.1);
    }
    .ui-button:first-child {
      margin-right: 16px;
    }

    .btn-white {
      background: white;
      box-shadow: 0px 1px 2px rgba(2, 8, 20, 0.1);
      color: var(--color-capacitor-blue);
    }
  }
}

.feature__register {
  position:absolute;
  white-space: nowrap;
  top: 50px;
  width: auto;
  display:flex;
  align-items: center;
  z-index: 1;
  padding: 4px;
  border-radius: 16px;
  background: white;
  color: var(--c-indigo-90);
  font-size: 12px;
  box-shadow: 0px 1px 4px rgba(0,0,0,.1);

  &__text {
    .text__content {
      padding: 0 8px;
    }
  }

  &__tag {
    display: inline-block;
    white-space: nowrap;
    padding: 4px 6px;
    color: white;
    background: #FFB762;
    border-radius: var(--radius-3);
    font-size: var(--f-size-0);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: var(--f-tracking-super);
  }

  &:hover, &:active, &:focus, &:focus-within {
    border-bottom-color: transparent;
  }
}

.points {
  .ui-paragraph {
    max-width: 540px;
    margin-bottom: 64px;
  }
  &__img {
    width: 64px;
    margin-left: -10px;
  }
  h2 {
    margin: 0;
  }
}

.section--getting-started {
  hgroup {
    .ui-heading {
      font-size: 48px;
      font-weight: 600;
      color: var(--c-carbon-100);
      letter-spacing: var(--f-tracking-dense);
    }
    margin-bottom: 96px;
  }

  &__step {
    padding-bottom: 120px;

    .apple {
      margin-top: 8px;
      height: 26px;
    }

    .android {
      margin-top: 8px;
      margin-left: 12px;
      height: 26px;
    }

    @media (max-width: variables.$breakpoint-md) {
      // Hide the numbers and lines on small screens
      .ui-col:first-child:after {
        display: none !important;
      }
    }

    &:last-child {
      padding-bottom: 0;
      min-height: 500px;

      .ui-col:first-child:after {
        display: none;
      }
    }

    .ui-col {
      &:first-child {
        font-size: 12px;
        color: var(--c-carbon-40);
        font-family: var(--f-family-monospace);
        text-align: center;
        height: calc(100% + 120px);

        &:after {
          content: '';
          display: block;
          margin-top: 12px !important;
          height: calc(100% - 42px);
          width: 1px;
          margin: auto;
          background: var(--c-carbon-10);
        }
      }
    }
  }

  .ui-col {
    .ui-heading {
      font-size: 28px;
      font-weight: 600;
      letter-spacing: var(--f-tracking-tight);
    }
  }

}

.section--web-apps-to-native {
  hgroup {
    margin-bottom: 76px;
  }

  img {
    height: 64px;
    margin-bottom: 24px;
  }
}

.section--native-features {
  hgroup {
    margin-bottom: 76px;
  }

  img {
    height: 32px;
    margin-bottom: 24px;
  }
}

.section--your-framework {
  .ui-grid {
    column-gap: 16px;
    row-gap: 16px;
  }
  .framework {
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      a {
        transform: scale3d(1.1, 1.1, 1.1);
      }
    }
    a {
      transition: all .2s ease-in-out;
      &:hover {
      border-bottom-color: transparent;
      text-decoration: none;
    }

    }

    img {
      height: 96px;
      mix-blend-mode: multiply;
    }
  }
}

.section--platforms {
  hgroup {
    text-align: center;
    max-width: 560px;
    margin: auto;
  }

  &__all {
    text-align: center;
    margin-top: 96px;
    img {
      max-width: 100%;
      max-height: 412px;
      margin-right: 96px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// TODO: Move to generic components
.ui-fancy-underline {
  display: inline-block;
  position: relative;

  &:before {
    z-index: -1;
    background: #BFE4FF;
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
  }

}

.ui-tabs {
  .ui-tab {
    min-height: 300px;
  }
  .ui-tab-bar {
    background: #2E3B4A;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: row;
    padding: 16px;
    overflow-x: auto;

    &__button {
      cursor: pointer;
      user-select: none;
      font-family: var(--f-family-display);
      font-size: 13px;
      color: var(--c-indigo-30);
      padding: 6px 14px;

      margin-right: 10px;

      &--selected {
        background: #617184;
        color: white;
        border-radius: 6px;
      }
    }
  }
}

.cordova-cta {
  padding-top: 10px;
  text-decoration: none;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  display: flex;
  align-items: center;
  letter-spacing: 0px;

  a {
    color: #33ACFF;
  }
}

div.cordova-cta a:hover {
  text-decoration: none;
}

.whitepaperCta {
  background: linear-gradient(90deg, #F1FAFF 0%, #B8E3FF 44.999%, #F2F8FD 45%);

  .ui-container {
    position: relative;
    padding-top: 76px;
    padding-bottom: 76px;
  }

  img {
    position: absolute;
    bottom: 0;
    left: calc(45% - 520px);

    @media (max-width: variables.$breakpoint-lg) {
      left: calc(45% - 460px);
    }
  }

  &__content {
    padding-left: calc(45% + 80px);
  }

  .ui-heading {
    margin-bottom: var(--space-6);
    font-size: 28px;
    letter-spacing: -0.02em;


    span {
      color: var(--c-carbon-40);
    }
  }

  .ui-button {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1em;
  }

  @media (max-width: variables.$breakpoint-md) {
    background: linear-gradient(180deg, #F1FAFF 0%, #B8E3FF 44.999%, #F2F8FD 45%);
    padding-top: 0;

    &__content {
      padding-left: 0;
      padding-top: 260px;
      max-width: 500px;
      margin: 0 auto;
    }

    img {
      bottom: 55%;
      left: calc(50% - 260px);
    }
  }
}