@use '../../global/vars' as *;

//#region -------------------------------- VARIABLES --------------------------------------- 
$section-space: 200px;

:host {
  --h1-color: var(--c-carbon-100);
  --h1-size: clamp(48px, 6vw, 64px);

  --h2-color: var(--c-carbon-100);
  --h2-size: clamp(40px, 6vw, 48px);

  --h3-color: var(--c-carbon-100);
  --h3-size: clamp(22px, 3vw, 28px); 

  --h4-color: #010610;

  --p2-color: var(--c-carbon-80);
  --p2-size: clamp(16px, 2vw, 20px);
}
//#region -------------------------------- VARIABLES --------------------------------------- 

:host {
  overflow-x: hidden;
  display: block;
}

#top {
  overflow-x: hidden;
  position:relative;
  margin-bottom: 278px;

  .ui-container {
    display: flex;
    // flex-wrap: wrap;
    margin-block-start: clamp(64px, 17vh, 154px);

    @media screen and (max-width: $screen-xs) {
      margin-block-start: 240px;
      flex-direction: column-reverse;
    }   

    > * {
      flex-grow: 1;
    }    
  }

  .background {
    position: absolute;
    bottom: 100px;

    width: 1800px;
    height: 1800px;
    left: calc(calc((1800px - 100%) / -2) - 50px);

    background: #F6F9FC;
    transform: rotate(29deg) skewX(-30deg);

    z-index: -1;
  }

  .heading-group {

    .ui-heading {
      max-width: 480px;
    }
    .ui-paragraph {
      margin-block-end: var(--space-6);
      max-width: 448px;
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    margin-inline-start: -15px;
    margin-block-start: -16px;

    .ui-button {
      margin-inline-start: 15px;
      margin-block-start: 16px;

      &.primary {
        --c-background: var(--c-capacitor-blue);
        --c-background--hover: #24a7ff;
        --c-background--active: #0090f0;
        --c-focus: #bde4ff;
      }
      &.secondary {
        --c-text: var(--c-capacitor-blue);
        --c-focus: #80caff;
      }
    }
  }

  .link {
    margin-block-start: var(--space-2);
    margin-block-end: var(--space-4);
  }

  .image-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: -64px;
    right: -32px;

    @media screen and (max-width: $screen-xs) {
      justify-content: center;
      right: initial;
      top: initial;
    }  

    img {
      width: 100%;

      @media screen and (max-width: $screen-xs) {
        --width: 200px;
        max-width: var(--width);
        left: min(calc(480px / 2 - var(--width) / 2), 100% / 2 - var(--width) / 2);
        top: -220px;
        position: absolute;
      }  
    }    
  }
}


#started {
  margin-block-end: 223px;
  
  .heading-group {
    margin-block-end: 90px;

    @media screen and (max-width: $screen-xs) {
      margin-block-end: 64px;
    } 
  }

  .step {
    display: flex;
    padding-block-end: 120px;
    position: relative;

    @media screen and (max-width: $screen-xs) {
      flex-direction: column;
      padding-block-end: 64px;

      &::before {
        opacity: 0;
      }
    }

    &:last-of-type {
      padding-block-end: 0;

      &::before {
        opacity: 0;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 24px;
      left: 7px;
      bottom: 0;
      width: 1px;
      background: var(--c-carbon-10);
    }

    sup {
      position: relative;
      top: 3px;
      width: 40px;
      margin-inline-end: clamp(12px, 1.5vw, 24px);
      margin-block-end: var(--space-4);
    }

    .heading-wrapper {
      flex-grow: 1;

      .ui-heading {
        max-width: 384px;  
        margin-inline-end: 32px;
      }
    }    

    .panel {
      flex-basis: 560px;
      max-width: 560px;

      @media screen and (max-width: $screen-xs) {
        flex-basis: auto;
      }

      .ui-tab-bar__button {
        font-family: var(--f-family-text);
      }      
    }

    .platforms {
      display: flex;

      @media screen and (max-width: $screen-xs) {
        margin-block-end: var(--space-6);
      }

      * + * {
        margin-inline-start: var(--space-3);
      }
    }
  }

  .ui-tabs {
    .ui-tab {
      min-height: 300px;
    }
    .ui-tab-bar {
      background: #2E3B4A;
      border-radius: 8px 8px 0 0;
      display: flex;
      flex-direction: row;
      padding: 16px;
      overflow-x: auto;
  
      &__button {
        cursor: pointer;
        user-select: none;
        font-family: var(--f-family-display);
        font-size: 13px;
        color: var(--c-indigo-30);
        padding: 6px 14px;
  
        margin-right: 10px;
  
        &--selected {
          background: #617184;
          color: white;
          border-radius: 6px;
        }
      }
    }
  }
}


#native {
  margin-block-start: $section-space;
  margin-block-end: $section-space;

  .heading-group {
    max-width: 480px;
    margin-block-end: var(--space-11);
  }

  .ui-grid {

    column-gap: var(--space-6);

    .ui-col {
      img {
        margin-block-end: 40px;
      }
    }
  }
}

#features {
  padding-block-start: $section-space;
  padding-block-end: $section-space;
  background: #F7F9FC;

  .heading-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    margin-inline-start: -32px;
    margin-block-start: -16px;
    margin-block-end: var(--space-11);

    > * {
      margin-inline-start: 32px;
      margin-block-start: 16px;
    }

    .ui-heading {
      max-width: 16ch;
      margin-block-end: 0px;
    }
  }

  .ui-grid {

    .ui-col {
      img {
        margin-block-end: 32px;
      }
    }
  }
}

#framework {
  margin-block-start: $section-space;
  margin-block-end: $section-space;

  .heading-group {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;

    margin-inline-start: -32px;
    margin-block-start: -16px;
    margin-block-end: var(--space-11);

    > * {
      margin-inline-start: 32px;
      margin-block-start: 16px;
    }

    .ui-heading {
      margin-block-end: 0px;
      max-width: 15.5ch;
    }
    .ui-paragraph {
      max-width: 44ch;
    }
  }
  .ui-grid {
    column-gap:16px;
    row-gap: 16px;

    img {
      width: 100%;
    }
  }
}



.cordova-cta {
  margin-block-start: var(--space-2);
  text-decoration: none;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  display: flex;
  align-items: center;
  letter-spacing: 0px;

  a {
    color: #33ACFF;
  }
}

div.cordova-cta a:hover {
  text-decoration: none;
}

.whitepaperCta {
  background: linear-gradient(90deg, #F1FAFF 0%, #B8E3FF 44.999%, #F2F8FD 45%);

  .ui-container {
    position: relative;
    padding-top: 76px;
    padding-bottom: 76px;
  }

  img {
    position: absolute;
    bottom: 0;
    left: calc(45% - 520px);

    @media (max-width: $screen-lg) {
      left: calc(45% - 460px);
    }
  }

  &__content {
    padding-left: calc(45% + 80px);
  }

  .ui-heading {
    margin-bottom: var(--space-6);
    font-size: 28px;
    letter-spacing: -0.02em;


    span {
      color: var(--c-carbon-40);
    }
  }

  .ui-button {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1em;
  }

  @media (max-width: $screen-xs-max) {
    background: linear-gradient(180deg, #F1FAFF 0%, #B8E3FF 44.999%, #F2F8FD 45%);
    padding-top: 0;

    &__content {
      padding-left: 0;
      padding-top: 260px;
      max-width: 500px;
      margin: 0 auto;
    }

    img {
      bottom: 55%;
      left: calc(50% - 260px);
    }
  }
}