:host {
  display: block;
}

hgroup {
  text-align: center;
  padding: var(--space-12) 0;
  max-width: 560px;
  margin: auto;

  .ui-heading {
    font-family: var(--f-family-display);
    font-weight: 700;
    letter-spacing: var(--f-tracking-dense);
    color: var(--c-carbon-100);
    margin: 4px 0;
  }

  .ui-paragraph {
    font-size: 20px;
    line-height: 1.6em;
    margin: 8px 0 0 3px;
    letter-spacing: -0.02em;
  }
}

.ui-grid {
  column-gap: 56px;
  margin-top: -11px;
  padding-bottom: var(--space-12);
}

.ui-col {
  a {
    display: block;
  }
  img {
    display: block;
    max-width: 100%;
  }
  .ui-heading {
    margin: 28px 0 16px 2px;
    font-size: 20px;
    font-family: var(--f-family-text);
    font-weight: 500;
    letter-spacing: -0.02em;
  }
  .ui-paragraph {
    margin: 0 0 0 2px;
    font-size: 16px;
    line-height: 1.6em;
  }
}