contributor-list {
  display: flex;
  align-items: center;
  padding-block-start: var(--space-6);
  padding-block-end: var(--space-6);
}

contributor-list ul.img-list {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

contributor-list li:last-child {
  margin-left: 0 !important;
}

contributor-list li:not(:last-child) {
  margin-left: -10px;
}

contributor-list img {
  border: solid 2px var(--background);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  border: 2px solid #fff;
}

contributor-list a.contributor-img {
  display: block;
  border: none;
  /* transition: transform 200ms cubic-bezier(0.32, 0.72, 0, 1); */
}

contributor-list .ui-button {
  margin-inline-start: var(--space-3);
}

@media (hover: hover) {
  contributor-list li a:hover {
    opacity: 1;
    transform: scale(1.125);
    z-index: 1;
  }
}
