//Styles for docs article content
@mixin docsStyles {
  --h1-color: var(--c-carbon-100);
  --h2-color: var(--c-carbon-100);
  --h3-color: var(--c-carbon-100);
  --h4-color: var(--c-carbon-100);
  --h5-color: var(--c-carbon-100);
  --h6-color: var(--c-carbon-100);

  --p2-color: var(--c-indigo-80);

  .paragraph-intro {
    font-family: var(--p2-font);
    font-size: var(--p2-size);
    line-height: var(--f-leading-prose);
    letter-spacing: var(--p2-tracking);
    font-weight: var(--p2-weight);
    color: var(--p2-color);
    text-transform: var(--p2-transform);
  }

  .paragraph-intro code {
    font-size: 18px;
  }

  .paragraph-intro + ul,
  .paragraph-intro + ol {
    li {
      font-family: var(--p2-font);
      font-size: var(--p2-size);
      line-height: var(--p2-leading);
      letter-spacing: var(--p2-tracking);
      font-weight: var(--p2-weight);
      color: var(--p2-color);
      text-transform: var(--p2-transform);
    }
  }

  img {
    max-width: 100%;
  }
  > img {
    margin: 1.6em 0;
  }

  > pre {
    margin: 1.6em 0;
  }

  blockquote {
    strong,
    b {
      color: #403826 !important;
    }
    background: rgba(255, 250, 237, 0.8);
    border-left: 4px solid #ffcc5f;
    border-radius: 2px 4px 4px 2px;
    color: #736545;
    font-size: 14px;
    line-height: 1.8em;
    margin: auto;
    padding: 16px 20px;
  }

  blockquote > :first-child {
    margin-top: 0;
  }

  blockquote > :last-child {
    margin-bottom: 0;
  }

  > docgen-api {
    display: block;
    margin: 1.6em 0;
  }

  docgen-index + docgen-api {
    margin-block-start: 64px;
  }

  p {
    word-wrap: break-word;
  }

  .ui-heading-1,
  .ui-heading-2,
  .ui-heading-3,
  .ui-heading-4,
  .ui-heading-5,
  .ui-heading-6 {
    word-wrap: break-word;
  }

  //Top level styles vs. all styles
  > .ui-heading-1 {
    margin-block-start: var(--space-9);
  }
  .ui-heading-1 {
    margin-block-end: var(--space-5);
  }

  > .ui-heading-2 {
    padding-block-start: 38px;
  }

  > .ui-heading-3 {
    padding-block-start: 32px;
  }

  .ui-heading-2,
  .ui-heading-3 {
    margin-block-end: var(--space-3);
  }

  > .ui-heading-4 {
    padding-block-start: 28px;
  }
  .ui-heading-4 {
  }

  > .ui-heading-5 {
    padding-top: 24px;
  }
  .ui-heading-5 {
  }

  > .ui-heading-6 {
    padding-top: 16px;
  }
  .ui-heading-6 {
  }

  .ui-heading-2 code {
    font-weight: 600;
    font-family: 'Roboto Mono', 'Source Code Pro', monospace;
    font-size: 20px;
    color: #16161d;
    background: #ecf4fb;
    margin-left: 6px;
    padding: 4px 8px;
    border-radius: 4px;
  }

  h2 .heading-anchor,
  h3 .heading-anchor,
  h4 .heading-anchor,
  h5 .heading-anchor,
  h6 .heading-anchor {
    opacity: 0;
    transition: opacity 0.2s ease 0s;
    display: block;
    position: absolute;
    left: -25px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 512 512'%3E%3Ctitle%3Eionicons-v5-o%3C/title%3E%3Cpath d='M208,352H144a96,96,0,0,1,0-192h64' style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:36px'/%3E%3Cpath d='M304,160h64a96,96,0,0,1,0,192H304' style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:36px'/%3E%3Cline x1='163.29' y1='256' x2='350.71' y2='256' style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:36px'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0px 6px;
    width: 28px;
    height: 34px;
    border: 0px;
  }

  h2:hover .heading-anchor,
  h3:hover .heading-anchor,
  h4:hover .heading-anchor,
  h5:hover .heading-anchor,
  h6:hover .heading-anchor {
    opacity: 0.8;
  }

  p,
  ul,
  ol {
    code {
      padding: 1px 4px 2px;
      background-color: #ecf4fb;
      color: #16161d;
      border-radius: 3px;
    }
    a code {
      color: var(--c-capacitor-blue);
    }
  }

  table {
    border-collapse: collapse;
    margin: 1.6em 0;
    display: inline-block;
    min-width: 0;
    max-width: 100%;
    overflow-x: auto;

    th {
      font-size: 14px;
      text-align: left;
      padding: 4px;
    }

    td {
      font-size: 12px;
      line-height: 18px;
      vertical-align: top;
      padding: 4px;
      min-width: 150px;

      code {
        font-size: 12px;
      }
    }

    tbody {
      td,
      th {
        border-top: 1px solid #eee;
      }
    }
  }

  blockquote {
    margin: 1.6em 0;
  }

  ul,
  ol {
    margin: 1.6em 0;

    li.ui-paragraph {
      margin-block-end: 0;
    }

    li + li {
      margin-block-start: 16px;
    }
  }

  strong,
  b {
    font-weight: 500;
  }

  p strong,
  p b {
    color: var(--c-carbon-100);
  }

  .wrapper {
    line-height: 32px;
    min-height: 100%;
    padding-top: 100px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
  }

  pre {
    min-width: 0;
    overflow-x: auto;
    margin: 1.6em 0;
    border-radius: 4px;
    color: #16161d;
    background-color: #f8f8f8;

    &[class*='language-'] {
      margin: 1.6em 0;
    }

    span {
      white-space: nowrap;
      display: inline;
    }

    code {
      width: 100%;
      display: block;
      min-width: 0;
      padding-inline-end: 1em;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background: rgb(245, 247, 250);
  }
}
