.doc-content {  
  --h1-color: var(--c-carbon-100);
  --h2-color: var(--c-carbon-100);
  --h3-color: var(--c-carbon-100);
  --h4-color: var(--c-carbon-100);
  --h5-color: var(--c-carbon-100);
  --h6-color: var(--c-carbon-100);

  --p2-color: var(--c-indigo-80);

  .paragraph-intro { 
    font-family: var(--p2-font);
    font-size: var(--p2-size);
    line-height: var(--p2-leading);
    letter-spacing: var(--p2-tracking);
    font-weight: var(--p2-weight);
    color: var(--p2-color);
    text-transform: var(--p2-transform);
    
  }

  .ui-heading-1 {
    margin-block-start: var(--space-9);
    margin-block-end: var(--space-3);
  }

  .ui-heading-2,
  .ui-heading-3 {
    margin-top: -6px;
    padding-top: 52px;
    margin-block-end: var(--space-3);
  }

  .ui-heading-2 code {
    font-weight: 600;
    font-family: 'Roboto Mono', 'Source Code Pro', monospace;
    font-size: 20px;
    color: #16161d;
    background: #ecf4fb;
    margin-left: 6px;
    padding: 4px 8px;
    border-radius: 4px;
  }

  ul {
    li {
      font-size: 14px;
      margin-top: 16px;
    }
  }

  ol {
    li {
      color: #4a5568;
      font-size: 15px;
      line-height: 1.8em;
      margin: 16px 0;
    }
  }

  strong,
  b {
    font-weight: 500;
  }

  .paragraph-intro code {
    font-size: 18px;
  }

  blockquote {
    background: rgba(255, 250, 237, 0.8);
    border-left: 4px solid #ffcc5f;
    border-radius: 2px 4px 4px 2px;
    color: #736545 !important;
    font-size: 14px;
    line-height: 1.8em;
    margin: auto;
    padding: 16px 20px;
  }

  blockquote p {
    margin: 0;
    padding: 0;
  }

  .wrapper {
    line-height: 32px;
    min-height: 100%;
    padding-top: 100px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
  }

  pre {
    word-break: break-all;
    word-wrap: break-word;
    display: block;
    white-space: pre-wrap;
    margin: 24px 0px 28px;
    /*padding: 16px 24px;*/
    border-radius: 4px;
    color: #16161d;
    background-color: #f8f8f8;
    code {
      font-weight: 500;
      display: block;
      overflow-x: auto;
      word-wrap: normal;
      white-space: pre-wrap;
      box-sizing: border-box;
      font-size: 14px;
      line-height: 20px;
    }
  }

}