@use '../../global/vars' as *;
@use '_doc-content' as *;

:host {
  display: block;
  --docs-space-x: clamp(8px, 2.5vw, 32px);
}

.content-wrapper {
  flex-grow: 1;
}

.docs-container {
  padding-inline-start: var(--docs-space-x);
  padding-inline-end: var(--docs-space-x);
}
platform-bar .docs-container {
  padding-inline-start: 20px;
  padding-inline-start: 20px;

  @media screen and (max-width: $screen-xs-max) {
    padding-inline-start: var(--docs-space-x);
    padding-inline-end: var(--docs-space-x);
  }
}

site-header {
  --spacing-x: var(--docs-space-x);
  
  &.scrolled {
    box-shadow: none;
  }
}

site-backdrop {
  z-index: 2;
}

.content-wrapper {
  width: 100%;
}

.app-marked {
  display: flex;
  justify-content: space-between;
  flex: 1;
  min-width: 0;
  width: 100%;

  .doc-content {
    width: 100%;

    .measure-lg {
      margin-inline-start: auto;
      margin-inline-end: auto;
    }
  }
}

plugin-platforms {
  display: block;
  float: right;

  .platform {      
    margin-left: 8px;
  }

  @media screen and (max-width: $screen-xs) {
    float: none;
    margin-block-end: -24px;
  }
}

table,
td,
th {
  border: 1px solid #eee;
  border-collapse: collapse;
}
table {
  width: 100%;

  th {
    text-align: left;
    padding: 4px;
  }
  td {
    font-size: 12px;
    line-height: 18px;
    vertical-align: top;
    padding: 4px;
    min-width: 150px;

    code {
      font-size: 12px;
    }
  }
}

.heading-link {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #2d2d4c;

  &:hover {
    border-bottom: 1px solid transparent;
  }

  ion-icon {
    transition: opacity 0.2s;
    position: absolute;
    left: -24px;
    display: flex;
    align-items: center;
    opacity: 0;
  }

  &:hover ion-icon {
    opacity: 0.8;
  }
}

img {
  max-width: 100%;
  margin: 8px 0;
}

ul {
  -webkit-padding-start: 16px;
  li,
  code {
    font-size: 14px;
    margin-top: 16px;
  }
}

p a {
  color: var(--c-capacitor-blue);
  text-decoration: none;
  border: 0;

  &:hover {
    opacity: 0.7;
  }
}

p,
ul,
ol {
  code {
    padding: 1px 4px 2px;
    background-color: #ecf4fb;
    color: #16161d;
    border-radius: 3px;
  }
}

#introButton {
  background: var(--c-capacitor-blue);
  color: white;
  text-decoration: none;

  border: none;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 14px;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  outline: none;
  letter-spacing: 0.04em;
  transition: all 0.15s ease;
  cursor: pointer;
}

#introButton:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}


.measure-lg {
  max-width: 736px;
}

.btn.pull-left,
.btn.pull-right {
  margin: 64px 8px 20px;
}


