@use '../../global/vars' as *;
@use 'docs-content';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.row {
  flex-grow: 1;
}

.content-wrapper {
  flex-grow: 1;
}

.docs-container {
  padding-inline-start: var(--container);
  padding-inline-end: var(--container);
}
platform-bar .docs-container {
  padding-inline-start: 20px;
  padding-inline-end: 20px;

  @media screen and (max-width: $screen-xs-max) {
    padding-inline-start: var(--container);
    padding-inline-end: var(--container);
  }
}

site-header {
  --spacing-x: var(--container);
  
  &.scrolled {
    box-shadow: none;
  }
}

site-backdrop {
  z-index: 1001;
}

.content-wrapper {
  min-width: 0;
}

.app-marked {
  display: flex;
  justify-content: space-between;
  flex: 1;

  .doc-content {    
    min-width: 0;
    flex-grow: 1;    
    display: flex;

    margin-inline-start: 12px;
    margin-inline-end: 12px;

    @media screen and (max-width: $screen-xs-max) {
      margin-inline-start: 0;
      margin-inline-end: 0;
    }

    .measure-lg {
      position: relative;
      max-width: min(736px, 100%);
      flex-grow: 1;
      margin-inline-start: auto;
      margin-inline-end: auto;
      @include docs-content.docsStyles();
    }
  }
}

plugin-platforms {
  position: absolute;
  right: 32px;
  top: 72px;
  display: block;
  float: right;

  .platform {      
    margin-left: 8px;
  }

  @media screen and (max-width: $screen-xs) {
    top: 16px;
    left: 0;
  }
}

.heading-link {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #2d2d4c;

  &:hover {
    border-bottom: 1px solid transparent;
  }

  ion-icon {
    transition: opacity 0.2s;
    position: absolute;
    left: -24px;
    display: flex;
    align-items: center;
    opacity: 0;
  }

  &:hover ion-icon {
    opacity: 0.8;
  }
}
