@use '../../global/vars' as *;

.platform-bar {
  background: #03060b
    url('/assets/img/components/platform-bar/bg-announcement-bar.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 48px;

  @media (max-width: $screen-xs-max) {
    display: none;
  }

  svg {
    margin-block-end: -6px;
    margin-inline-end: 16px;
  }

  .text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    letter-spacing: -0.01em;

    color: #ced6e0;

    em {
      color: #fff;

      font-style: normal;

      font-weight: 500;
    }
  }

  button {
    cursor: auto;

    color: #ffffff;

    margin-inline-start: 16px;

    border-radius: 1000px;
    border: none;

    padding: 4.5px 8px;

    background: #434f5e;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.06);

    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.02em;

    ion-icon {
      margin-inline-start: 0.25rem;
    }
  }
}
