@use '../../global/vars' as *;

.platform-bar {
  background-color: #3c67ff;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 3rem;

  @media (max-width: $screen-xs-max) {
    display: none;
  }

  svg {
    margin-inline-end: 1rem;
  }

  .text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.01em;

    /* Blue / 10 */
    color: #e3edff;

    em {
      font-style: normal;
      color: #fff;
    }
  }

  .button {
    color: #ffffff;

    margin-inline-start: 16px;

    border-radius: 1000px;
    border: none;

    padding: 4.5px 8px;

    background: rgba(255, 255, 255, 0.2);

    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.02em;

    ion-icon {
      margin-block-end: -0.075rem;
    }
  }
}
