$link-color: #5eb6fc;

plugin-platforms {
  display: block;
  .platforms {
    display: inline-flex;

    .platform {
      display: inline-block;
    }

    img + img {
      margin-left: 12px;
    }
  }
}
