@font-face {
  src: url("/docs/assets/fonts/eina-700.woff2") format("woff2"), url("/docs/assets/fonts/eina-700.woff") format("woff");
  font-family: "Eina";
  font-style: normal;
  font-weight: 700;
}