@use 'variables';
@use 'vars';

span, a, sup {
  display: inline-block;
}

img {
  display: block;
  object-fit: contain;
  height: auto;
}

code {
  font-family: 'Roboto Mono', 'Source Code Pro', monospace;
}

.no-scroll {
  overflow: hidden;
}

.arrow {
  letter-spacing: 0;
  margin-inline-start: 3px;
}

a.link, p a {
  color: var(--c-capacitor-blue);
  transition: opacity .2s ease-out;

  &:hover, &:active, &:focus {
    opacity: .7;    
  }
}
