$color-blue-primary: #4cafff;
$color-blue-muted: #85adce;
$color-yellow: #fdbf00;
$color-yellow-contrast: #653d00;
$color-white: #fff;

$link-color: #1d9aff;

$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 480px;

$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);

// CSS vars for compatibility w/ stencil site components
// TODO convert these and their use to SCSS
:root {
  --color-capacitor-blue: #119eff;
  --button-background: var(--color-capacitor-blue);

  --color-woodsmoke: #16161d;
  --color-dolphin: #626177;
  --color-gunpowder: #505061;
  --color-manatee: #8888a2;
  --color-cadet-blue: #abb2bf;
  --color-whisper: #ebebf7;
  --color-selago: #f4f4fd;
  --color-white-lilac: #f8f8fc;
  --color-white: #fff;

  --color-grey-blue: #73849a;

  --color-green-haze: #00ab47;

  // --color-dodger-blue: rgb(88, 81, 255);
  --color-dodger-blue: #1d9aff;
  // --color-dodger-blue-hover: rgba(88, 81, 255, 0.2);
  --color-dodger-blue-hover: rgba(#1d9aff, 0.2);

  --color-old-lace: #fdf5e4;
  --color-wheatfield: #f1e3c5;
  --color-pirate-gold: #9a6400;

  --button-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  --button-shadow-hover: 0 4px 6px rgba(0, 0, 0, 0.12),
    0 1px 3px rgba(0, 0, 0, 0.08);

  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

  --line-rule-color: #edf2f6;
}
