@use '~prismjs/themes/prism-tomorrow.css';

:host {
  display: block;

  --border-radius: 8px;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #0B2231;
  border-radius: var(--border-radius);
  margin-top: 0;

  code {
    font-family: 'Roboto Mono', 'Source Code Pro', monospace;
    font-size: 14px;
    color: var(--c-carbon-10);
  }
}

// pre[class*="language-shell"] code::before {
//   content: '$ '
// }