
:host {
  height: 32px;
  width: 32px;
}

button {
  height: 100%;
  width: 100%;

  font-size: 20px;

  background: transparent;
  border: none;
  outline: none;

  cursor: pointer;

  &:hover {
    opacity: .4;
  }
}
