:host {
  display: block;
  overflow: hidden;
  border-color: var(--c-indigo-20);
  border-style: solid;
  border-width: 0px 0px 1px;
  display: flex;
  flex-wrap: wrap-reverse;

  padding: 20px 0;
  margin-block-start: 65px;
}

a {
  border: 0;
  letter-spacing: -0.02em;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
}

a:hover {
  text-decoration: none;
  border: 0;
  opacity: 0.7;
}

.nav-previous {
  max-width: 100%;
  overflow: hidden;
}

.nav-next {
  text-align: right;
  margin-left: auto;
  max-width: 100%;
  overflow: hidden;
}

.direction {
  font-size: 14px;
  color: var(--c-indigo-60);
  letter-spacing: -0.03em;
  line-height: 190.94%;
  padding-bottom: 4px;
}
