:root {
  --c-ionic-brand: var(--c-blue-80);
}

* {
  box-sizing: border-box;
}

/**
 * Global styles only in here
 */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: var(--f-family-text);
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

stencil-route-link a {
  // Fix link colors in route links
  color: inherit;
}

hr {
  border: none;
  height: 1px;
  background: var(--c-indigo-30);
  margin: var(--space-6) 0;
}
