:root {
  --f-family-display: IonEina, "Helvetica Neue", Helvetica, sans-serif;
  --f-family-text: Inter, "Inter UI", Helvetica, Arial, sans-serif;
  --f-family-system: apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial,
    sans-serif;
  --f-family-monospace: "SF Mono", "Roboto Mono", Menlo, monospace;
  --f-family-serif: "Adobe Caslon", Georgia, Times, "Times New Roman", serif;
  --f-weight-light: 300;
  --f-weight-regular: 400;
  --f-weight-medium: 500;
  --f-weight-semibold: 600;
  --f-weight-bold: 700;
  --f-size-0: 0.625rem;
  --f-size-1: 0.6875rem;
  --f-size-2: 0.75rem;
  --f-size-3: 0.8125rem;
  --f-size-4: 0.875rem;
  --f-size-5: 1rem;
  --f-size-6: 1.25rem;
  --f-size-7: 1.5rem;
  --f-size-8: 1.75rem;
  --f-size-9: 2rem;
  --f-size-10: 2.5rem;
  --f-size-11: 3rem;
  --f-size-12: 3.5rem;
  --f-size-13: 4rem;
  --f-size-14: 4.5rem;
  --f-size-15: 5rem;
  --f-size-16: 5.5rem;
  --f-size-17: 6rem;
  --f-leading-solid: 1;
  --f-leading-title: 1.12;
  --f-leading-body: 1.6;
  --f-leading-prose: 1.8;
  --f-tracking-dense: -0.04em;
  --f-tracking-tight: -0.02em;
  --f-tracking-solid: 0em;
  --f-tracking-wide: 0.04em;
  --f-tracking-super: 0.08em;
  --f-tracking-extra: 0.16em;
  --space-0: 0.25rem;
  --space-1: 0.5rem;
  --space-2: 0.75rem;
  --space-3: 1rem;
  --space-4: 1.25rem;
  --space-5: 1.5rem;
  --space-6: 2rem;
  --space-7: 2.5rem;
  --space-8: 3rem;
  --space-9: 4rem;
  --space-10: 5rem;
  --space-11: 6rem;
  --space-12: 8rem;
  --space-13: 10rem;
  --space-14: 12rem;
  --space-15: 14rem;
  --space-16: 16rem;
  --breakpoint-0: 640px;
  --breakpoint-1: 768px;
  --breakpoint-2: 1024px;
  --breakpoint-3: 1280px;
  --radius-0: 0px;
  --radius-1: 6px;
  --radius-2: 8px;
  --radius-3: 16px;
  --radius-4: 1000px;
  --border-regular: 1px solid;
  --border-dashed: 1px dashed;
  --border-heavy: 2px solid;
  --elevation-0: none;
  --elevation-1: 0 0 0 1px rgba(0, 0, 0, 0.06);
  --elevation-2: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.04);
  --elevation-3: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.06);
  --elevation-4: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --elevation-5: 0 8px 16px 0 rgba(0, 0, 0, 0.08),
    0 4px 8px 0 rgba(0, 0, 0, 0.06);
  --elevation-6: 0 16px 32px -2px rgba(0, 0, 0, 0.1),
    0 8px 16px -2px rgba(0, 0, 0, 0.08);
  --elevation-7: 0 32px 64px -4px rgba(0, 0, 0, 0.12),
    0 12px 24px -2px rgba(0, 0, 0, 0.06);
  --elevation-8: 0 48px 96px -8px rgba(0, 0, 0, 0.16),
    0 24px 48px -4px rgba(0, 0, 0, 0.08);
  --duration-instantly: 0s;
  --duration-quickly: 0.15s;
  --c-black: #000000;
  --c-white: #ffffff;
  --c-blue-0: #f0f6ff;
  --c-blue-10: #e3edff;
  --c-blue-20: #cddfff;
  --c-blue-30: #b2ceff;
  --c-blue-40: #97bdff;
  --c-blue-50: #7cabff;
  --c-blue-60: #639bff;
  --c-blue-70: #4d8dff;
  --c-blue-80: #3880ff;
  --c-blue-90: #1b6dff;
  --c-blue-100: #0054e9;
  --c-gray-0: #f3f3f3;
  --c-gray-10: #e4e4e4;
  --c-gray-20: #c8c8c8;
  --c-gray-30: #aeaeae;
  --c-gray-40: #959595;
  --c-gray-50: #818181;
  --c-gray-60: #6d6d6d;
  --c-gray-70: #5f5f5f;
  --c-gray-80: #474747;
  --c-gray-90: #2f2f2f;
  --c-gray-100: #141414;
  --c-carbon-0: #eef1f3;
  --c-carbon-10: #d7dde2;
  --c-carbon-20: #b4bcc6;
  --c-carbon-30: #98a2ad;
  --c-carbon-40: #7d8894;
  --c-carbon-50: #677483;
  --c-carbon-60: #556170;
  --c-carbon-70: #434f5e;
  --c-carbon-80: #35404e;
  --c-carbon-90: #222d3a;
  --c-carbon-100: #03060b;
  --c-indigo-0: #fbfbfd;
  --c-indigo-10: #f6f8fc;
  --c-indigo-20: #e9edf3;
  --c-indigo-30: #dee3ea;
  --c-indigo-40: #ced6e0;
  --c-indigo-50: #b2becd;
  --c-indigo-60: #92a0b3;
  --c-indigo-70: #73849a;
  --c-indigo-80: #445b78;
  --c-indigo-90: #2d4665;
  --c-indigo-100: #001a3a;
  --c-green-0: #f1fdf5;
  --c-green-10: #deffe7;
  --c-green-20: #c7fbd5;
  --c-green-30: #a7f1bb;
  --c-green-40: #80e89d;
  --c-green-50: #62e085;
  --c-green-60: #4ada71;
  --c-green-70: #2dd55b;
  --c-green-80: #17c948;
  --c-green-90: #00ba33;
  --c-green-100: #00a52d;
  --c-lime-0: #f5fff0;
  --c-lime-10: #ebfee3;
  --c-lime-20: #ddfcd0;
  --c-lime-30: #cffbbc;
  --c-lime-40: #bbf9a2;
  --c-lime-50: #a3f581;
  --c-lime-60: #8bf35f;
  --c-lime-70: #64ec44;
  --c-lime-80: #4ddf2b;
  --c-lime-90: #3ad515;
  --c-lime-100: #27c100;
  --c-lavender-0: #f7f8ff;
  --c-lavender-10: #e6ebff;
  --c-lavender-20: #ced9ff;
  --c-lavender-30: #b6c6ff;
  --c-lavender-40: #9fb5ff;
  --c-lavender-50: #8aa4ff;
  --c-lavender-60: #7493ff;
  --c-lavender-70: #597eff;
  --c-lavender-80: #3c67ff;
  --c-lavender-90: #194bfd;
  --c-lavender-100: #0033e8;
  --c-purple-0: #f4f4ff;
  --c-purple-10: #e9eaff;
  --c-purple-20: #d0d2ff;
  --c-purple-30: #b6b9f9;
  --c-purple-40: #9a99fc;
  --c-purple-50: #8482fb;
  --c-purple-60: #786df9;
  --c-purple-70: #6e5afd;
  --c-purple-80: #6030ff;
  --c-purple-90: #4712fb;
  --c-purple-100: #3400e6;
  --c-pink-0: #ffeff5;
  --c-pink-10: #ffe3ed;
  --c-pink-20: #ffd8e5;
  --c-pink-30: #ffc9db;
  --c-pink-40: #ffb6d0;
  --c-pink-50: #ff99bd;
  --c-pink-60: #ff80ac;
  --c-pink-70: #ff6098;
  --c-pink-80: #fb4082;
  --c-pink-90: #ec216a;
  --c-pink-100: #da0d56;
  --c-red-0: #fff1f3;
  --c-red-10: #ffe6e8;
  --c-red-20: #ffcfd3;
  --c-red-30: #feb7bc;
  --c-red-40: #fc9aa2;
  --c-red-50: #f9838c;
  --c-red-60: #f56570;
  --c-red-70: #f24c58;
  --c-red-80: #ef3442;
  --c-red-90: #e21827;
  --c-red-100: #d0000f;
  --c-orange-0: #fff5f0;
  --c-orange-10: #ffede6;
  --c-orange-20: #ffdfd1;
  --c-orange-30: #ffd0bc;
  --c-orange-40: #ffc0a5;
  --c-orange-50: #ffaf8c;
  --c-orange-60: #ff9b70;
  --c-orange-70: #ff8753;
  --c-orange-80: #ff7336;
  --c-orange-90: #ff5b13;
  --c-orange-100: #eb4700;
  --c-yellow-0: #fffbef;
  --c-yellow-10: #fff8e2;
  --c-yellow-20: #fff4d1;
  --c-yellow-30: #ffefbd;
  --c-yellow-40: #ffe9a3;
  --c-yellow-50: #ffe080;
  --c-yellow-60: #ffd75a;
  --c-yellow-70: #ffce31;
  --c-yellow-80: #ffc409;
  --c-yellow-90: #f4b100;
  --c-yellow-100: #eaa100;
  --c-aqua-0: #f0fff9;
  --c-aqua-10: #e6fff6;
  --c-aqua-20: #ceffed;
  --c-aqua-30: #b7fce3;
  --c-aqua-40: #93f9d5;
  --c-aqua-50: #79f5c9;
  --c-aqua-60: #59f0ba;
  --c-aqua-70: #38e9aa;
  --c-aqua-80: #1ae19a;
  --c-aqua-90: #00d287;
  --c-aqua-100: #00ba78;
  --c-teal-0: #eefeff;
  --c-teal-10: #dffdff;
  --c-teal-20: #d0fdff;
  --c-teal-30: #bbfcff;
  --c-teal-40: #a2fcff;
  --c-teal-50: #8bfbff;
  --c-teal-60: #73f6fb;
  --c-teal-70: #55ecf2;
  --c-teal-80: #35e2e9;
  --c-teal-90: #1bd2d9;
  --c-teal-100: #00b9c0;
  --c-cyan-0: #f3faff;
  --c-cyan-10: #e8f5ff;
  --c-cyan-20: #d3ecff;
  --c-cyan-30: #bfe4ff;
  --c-cyan-40: #a7daff;
  --c-cyan-50: #8dcfff;
  --c-cyan-60: #77c6ff;
  --c-cyan-70: #62bdff;
  --c-cyan-80: #46b1ff;
  --c-cyan-90: #24a3ff;
  --c-cyan-100: #0091fa;
}
