@use '../../global/vars' as *;

//#region -------------------------------- VARIABLES ---------------------------------------
$section-space: 12.5rem;

:host {
  display: block;

  --h1-color: #fff;
  --h2-color: #677483;
}
//#endregion ------------------------------------------------------------------------------

//#region -------------------------------- GENERAL STYLES ---------------------------------------
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ui-heading-2 em {
  font-style: normal;
  color: var(--c-carbon-100);
}
//#endregion ------------------------------------------------------------------------------

//#region -------------------------------- PAGE STYLES ---------------------------------------
#top {
  --p2-color: var(--c-indigo-30);

  background: var(--c-carbon-100);
  position: relative;
  min-height: 46.25rem;
  z-index: 0;

  .background {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .heading-group {
    position: relative;
    z-index: 2;
    max-width: 35rem;

    padding-block-start: 6.25rem;

    .ui-paragraph {
      max-width: 31rem;
    }
  }
}

#companies {
  --h6-color: var(--c-carbon-100);

  padding-block-start: 6rem;
  padding-block-end: 6rem;

  position: relative;
  z-index: 1;

  background: var(--c-indigo-10);
  text-align: center;

  .ui-heading {
    margin-block-end: 3rem;
  }

  .logos {
    display: flex;

    //simulate flex-gap
    margin-block-start: -2rem;
    > * {
      margin-block-start: 2rem;
    }

    @media (max-width: $screen-xs) {
      flex-direction: column;
    }

    [class*='row'] {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .row1 {
      margin-inline-end: calc((100% - 317px) / 7);

      @media (max-width: $screen-xs) {
        margin-inline-end: 0;
      }
    }
  }
}

#native {
  padding-block-start: $section-space;
  padding-block-end: $section-space;

  .heading-group {
    max-width: 37.5rem;

    margin-block-end: 6rem;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
    row-gap: 4rem;

    @media (max-width: $screen-sm-max) {
      column-gap: 2rem;
    }
    @media (max-width: $screen-xs) {
      grid-template-columns: initial;
      grid-template-rows: 1fr 1fr 1fr;
    }

    li {
      .ui-heading {
        margin-block-start: 1.75rem;
        margin-block-end: 0.75rem;
      }
    }
  }
}

#ebook {
  .background {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;

    z-index: 0;
    border-radius: 32px;
  }

  .wrapper {
    position: relative;
  }

  .content {
    display: flex;
    background: #011830;

    border-radius: 32px;
    overflow-x: hidden;
  }

  .heading-group {
    position: relative;
    z-index: 1;
    align-self: center;

    max-width: 31.5rem;

    .ui-paragraph {
      color: var(--c-carbon-20);
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 120%;
      letter-spacing: -0.03em;

      em {
        font-style: normal;
        color: #fff;
      }
    }
  }

  .image-wrapper {
    position: relative;
    z-index: 1;
  }
}

#approach {
  padding-block-start: $section-space;

  .heading-group {
    max-width: 40rem;
    margin: 0 auto 6rem;
    text-align: center;
  }

  .split {
    display: flex;
    justify-content: space-between;

    margin-inline-start: -3rem;
    margin-block-end: -6rem;

    @media (max-width: $screen-xs) {
      flex-direction: column;
    }

    > * {
      margin-inline-start: 3rem;
      margin-block-end: 6rem;
      min-width: 0;
      max-width: 30rem;
    }

    .column {
      > img {
        max-width: 100%;
        min-height: 20.375rem;

        margin-block-start: 4rem;
        margin-block-end: 3.5rem;
      }

      p {
        margin: 0;
      }

      .list {
        .ui-heading {
          margin-block-end: 1.5rem;
        }

        ul li {
          display: flex;

          + li {
            margin-block-start: 1rem;
          }

          img {
            margin-inline-end: 1rem;
          }
        }
      }
    }
  }
}

#plugins {
  padding-block-start: $section-space;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $screen-xs) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    margin-inline-start: -3rem;
    margin-block-start: -2rem;

    > * {
      flex-basis: 50%;
      margin-inline-start: 3rem;
      margin-block-start: 2rem;

      width: calc(100% - 3rem);
    }
  }

  .heading-group {
    max-width: 28.1875rem;
  }

  .image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;

      @media (max-width: $screen-xs) {
        max-width: 75vw;
      }
    }
  }
}

#security {
  padding-block-start: $section-space;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $screen-xs) {
      flex-direction: column;
      align-items: flex-start;
    }

    margin-inline-start: -3rem;
    margin-block-start: -2rem;

    > * {
      flex-basis: 50%;
      margin-inline-start: 3rem;
      margin-block-start: 2rem;

      width: calc(100% - 3rem);
    }
  }

  .heading-group {
    max-width: 28.1875rem;
  }

  .image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;

      @media (max-width: $screen-xs) {
        max-width: 75vw;
      }
    }
  }
}
//#endregion ------------------------------------------------------------------------------
