blog-page {
  display: block;

  h2 {
    margin-top: 0;
  }
  a {
    text-decoration: none;
  }
  .blog-post {
    margin: 100px auto 0;
    max-width: 670px;
    padding-bottom: 100px;

    p {
      color: #111;
    }
  }
}
