@use '../../global/variables';


:host {
  position: sticky;
  z-index: 1000;
  top: -1px;
  background: rgba(255, 255, 255, .992);
  display: block;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.06);


  --link-color: var(--c-carbon-90);

  &.site-header--sticky {
    box-shadow: var(--elevation-2);
    transition: box-shadow .2s ease-out;
  }
}

.ui-container {
  background: transparent;
  padding: 14px 0 13px;
}

.page-theme--dark {
  :host {
    background-color: transparent;
    --link-color: white;
  }
}

.site-header {
  display: flex;

  &__container {
    height: 64px;
    display: flex;
    justify-content: space-between;
  }

  &__logo-link {
    margin: 0 0 2px 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 0;

    img {
      object-fit: contain;
      height: 24px;
      width: auto;
    }
  }

  .site-header-links {
    display: flex;
    flex: 1;
    margin-right: 15px;

    &__menu {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      nav {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 15px;
      }

      a {
        border-bottom: 0;
        transition: color, opacity .2s ease-out;
        font-size: 14px;
        line-height: 18px;
        font-family: var(--f-family-text);
        color: var(--c-indigo-80);
        text-decoration: none;
        font-weight: normal;
        letter-spacing: 0;
        margin: 0 32px 0 0;

        &.active {
          opacity: .5;
        }


        &:hover {
          opacity: .5;
          border: 0;
        }
      }

      .link,
      .link--external  {
        position: relative;
        border: 0;
        transition: color .3s;
      }

      .link--external .icon {
        margin-left: 6px;
        transition: top 0.2s, left 0.2s;
        position: relative;
      }

      .link--external:hover {
        color: #000;

        .icon {
          left: 1px;
          top: -1px;
        }
      }
    }

    &__buttons {
      min-width: 130px;

      .ui-button {
        font-weight: 500;
        height: 33px;

        + .ui-button {
          margin-left: 8px;
        }
      }

      &__github {
        background: #fff;
        border: 1px solid #ebeff4;
        color: var(--c-indigo-80);
        line-height: 0;
        --c-focus: #80caff;

        ion-icon {
          vertical-align: middle;
          margin-right: 5px;
          margin-top: -2px;
          margin-left: -2px;
          font-size: 16px;
          color: #73849a;
        }
      }
      &__install {
        --c-background: var(--c-capacitor-blue);
        --c-background--hover: #24a7ff;
        --c-background--active: #0090f0;
        --c-focus: #bde4ff;

        svg {
          margin-right: 6px;
          margin-bottom: -2px;
        }
      }
    }
  }
}

more-button {
  display: none;

  margin-right: 10px;
}

site-backdrop {
  top: 108px;
}

/* Small width / mobile screens */
@media screen and (max-width: 768px) {
  .site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    more-button {
      display: block;
    }

    .site-header-links {
      position: absolute;
      top: 100%;

      display: block;

      background: #fff;

      width: 100%;
      height: auto;

      padding: 10px 0;

      visibility: hidden;
      opacity: 0;
      transform: translateY(-10px);
      transition:
        transform .2s cubic-bezier(.36,.66,.04,1),
        opacity .2s linear;

      box-shadow: rgba(2, 8, 20, 0.06) 0px 1px 3px, rgba(2, 8, 20, 0.04) 0px 1px 2px;

      &__buttons {
        display: none;
      }

      nav {
        max-width: 100%;
        flex-direction: column;
        margin-left: 0;
      }

      a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 44px;

        margin: 0;
        padding: 0 20px;

        border: none;
        outline: none;

        color: #000;

        &:hover {
          background: rgba(0,0,0, 0.03);
          color: initial;
        }
      }
    }
  }

  :host(.site-header--expanded) {
    .site-header-links {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(-1px);
      transition:
        transform .25s cubic-bezier(.17,.67,.52,1),
        opacity .1s linear;
    }
  }
}