@use '../../global/vars' as *;

:host {
  --link-hover-opacity: .7;
  --c-background: #fff;

  display: block;
  height: 64px;
  position: sticky;
  top: 0;
  background: #fff;
  transform: translate(0px);
  z-index: 998;
  border-block-end: 1px solid rgba(0, 21, 58, 0.06);

  transition: box-shadow .2s ease-out;
}

.docs-search-wrapper {
  flex-grow: 1;

  docs-search {
    max-width: 251px;
    float: right;
  }
}


header {  
  display: flex;
  align-items: center;

  height: 100%;
}

.routes {
  display: flex;
}
.routes.collapsed {
  display: none;

  ~ .ctas {
    display: none;
  }
  ~ more-button {
    display: block;
  }
}

nav.docs-sections {
  display: flex;

  a {
    display: flex;
    align-items: center;
    margin-inline-start: 24px;
    transition: opacity .2s ease-out;

    &:last-of-type {
      margin-inline-end: 24px;
    }

    &:nth-of-type(3)::after {
      content: '';
      display:inline-block;
      width: 1px;
      height: 28px;
      background: var(--c-indigo-30);
      margin-inline-start: var(--space-5);
    }

    &.active {
      color: var(--c-cyan-100);
      font-weight: 500;
    }

    &:hover, &:active, &:focus {
      opacity: var(--link-hover-opacity);
    }
  }
}


.ctas {
  white-space: nowrap;

  .ui-button {

    svg {
      margin-inline-end: 6px;
    }

    &.secondary {
      color: var(--c-indigo-80);
      font-weight: 500;
    }
    &.primary {
      --c-background: var(--c-capacitor-blue);
      color: #fff;
      margin-inline-start: var(--space-1);
    }
  }
}

more-button {
  display: none;
  margin-inline-start: 24px;  
}