@import '../../global/variables';

:host {
  background-color: #fff;
  z-index: 99;
  transition: .2s box-shadow ease-out;
}
.site-header {
  display: flex;
  &--scrolled {
    box-shadow: 0px 1px 3px rgba(0,0,0,0.06), 0px 1px 0px rgba(0,0,0,0.02);
  }

  &__container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__logo-link {
    margin: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 0;

    img {
      width: 128px;
      height: 22px;
    }
  }
  &__menu {
    display: flex;
    a {
      transition: border .3s, color .3s;
      font-size: 14px;
      padding-bottom: 4px;
      border-bottom: 3px solid transparent;
      vertical-align: top;
      color: rgba(#000, 0.6);
      text-decoration: none;
      font-weight: 500;
      letter-spacing: -0.02em;
    }

    a.link-active {
      color: #000;
    }

    .link,
    .link--external  {
      position: relative;
      border: 0;
      transition: color .3s;
    }

    .link--external .icon {
      margin-left: 6px;
      transition: top 0.2s, left 0.2s;
      position: relative;
    }

    .link--external:hover {
      color: #000;

      .icon {
        left: 1px;
        top: -1px;
      }
    }
  }
}