@use '../../global/variables';
@use '../../global/vars' as *;
@use '../../global/prism';
@use '../../global/shared/utils';

* {
  box-sizing: border-box;
}

capacitor-site {
  --container: clamp(8px, 2.5vw, 20px);

  min-height: 100%;
  display: block;
}

.heading-container {
  padding-inline-start: clamp(8px, 2.5vw, 20px);
  padding-inline-end: clamp(8px, 2.5vw, 20px);
}

site-root {
  flex: 1;
}

site-header.scrolled {
  box-shadow: var(--elevation-2);
}

.left-sidebar-in {
  animation-name: slideIn;
  animation-duration: 0.7s;
  animation-timing-function: variables.$easeOutExpo;
  animation-fill-mode: forwards;
}
@keyframes slideIn {
  from {
    left: 0;
  }

  to {
    left: calc(100vw - 56px);
  }
}

.left-sidebar-out {
  animation-name: slideOut;
  animation-duration: 0.7s;
  animation-timing-function: variables.$easeOutExpo;
  animation-fill-mode: forwards;
}
@keyframes slideOut {
  from {
    left: calc(100vw - 56px);
  }

  to {
    left: 0;
  }
}

.root {
  position: relative;
}

.row {
  display: flex;
}
.col {
  flex: 1;
}

::selection {
  background: #98d2ff;
}

::-moz-selection {
  background: #98d2ff;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  //color: #c678dd;
  color: #db00e9;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #2973b7;
}

.hljs-tag {
  color: #2973b7;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #2cc17e;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #db00e9;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-attr {
  color: #525252;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  //color: #61aeee;
  color: #2973b7;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
