in-page-navigation {
  flex: 0 0 240px;
  padding-top: 26px;
  padding-left: 16px;
  letter-spacing: 0;
}

in-page-navigation internal-ad {
  visibility: hidden;
}

in-page-navigation .title {
  margin-block-end: var(--space-1);
  color: var(--c-indigo-50);
  font-size: 10px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.08em;
  font-family: var(--f-family-text);
}

in-page-navigation h5 a {
  color: #a0aec0;
  text-decoration: none;
  border: none !important;
}

in-page-navigation .heading-links {
  --indent-size: 12px;

  list-style: none;
  line-height: 1;
  padding: 0;
  margin: 0;
  margin-left: calc(var(--indent-size) * -2);
}

in-page-navigation .heading-links li {
  width: 188px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
in-page-navigation .heading-links li:hover a {
  opacity: 0.7;
}

in-page-navigation .heading-links a {
  font-weight: 400;
  color: var(--color-gunpowder);
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  border: none;
  text-decoration: none;
  border: none !important;
  transition: 0.2s color ease-out, 0.2s opacity ease-out;
}

in-page-navigation .heading-links a:hover {
  opacity: 1;
}

in-page-navigation .heading-links a:hover {
  border: none;
}

in-page-navigation .heading-links .heading-link:hover,
in-page-navigation .heading-links .heading-link.selected {
  border-bottom: none;
  transform: translateX(calc(var(--indent-size) * 1 + 2px));
  font-weight: 500;
}

in-page-navigation li.heading-link {
  padding: 2px 11px 6px;
  margin-top: 0;
  margin-left: 0;
  border-left: 2px solid transparent;
  transition: 0.2s transform ease;
}

in-page-navigation li.heading-link.selected {
  border-left: 2px solid var(--color-dodger-blue);
}

in-page-navigation li.heading-link.selected a {
  color: var(--color-dodger-blue);
  font-weight: 600;
}

in-page-navigation li.size-h2 {
  transform: translateX(calc(var(--indent-size) * 1));
}

in-page-navigation li.size-h3 {
  transform: translateX(calc(var(--indent-size) * 2));
}

in-page-navigation li.size-h4 {
  transform: translateX(calc(var(--indent-size) * 3));
}

in-page-navigation li.size-h3 a,
in-page-navigation li.size-h4 a {
  font-weight: 400;
  color: #6c6c8b;
}

in-page-navigation li.size-h3:hover a,
in-page-navigation li.size-h4:hover a {
  color: var(--color-gunpowder);
}

in-page-navigation li.heading-link.size-h3:hover,
in-page-navigation li.heading-link.size-h3.selected {
  transform: translateX(calc(var(--indent-size) * 2 + 2px));
}

in-page-navigation li.heading-link.size-h4:hover,
in-page-navigation li.heading-link.size-h4.selected {
  transform: translateX(calc(var(--indent-size) * 3 + 2px));
}

in-page-navigation li.heading-link stencil-route-link {
  margin-top: 4px;
}

in-page-navigation .submit-edit-link {
  display: flex;
  align-items: center;

  font-size: 12px;
  color: var(--color-dodger-blue);
  font-weight: 600;
  text-decoration: none;
}

in-page-navigation .submit-edit-link svg {
  width: 16px;
  fill: currentColor;
}

in-page-navigation .submit-edit-link span {
  transition: border 0.2s;
  height: 16px;
  margin-left: 6px;
  margin-bottom: 2px;
}

in-page-navigation .heading-links + .submit-edit-link {
  margin-top: 28px;
  border-bottom: none;
}

@media screen and (max-width: 1024px) {
  in-page-navigation {
    display: none;
  }
}
