@use '~prismjs/themes/prism';
@use '../../global/variables';

blog-page, blog-post {
  display: block;
  background: #F5F5F5;
  padding-top: 100px;
  height: 100%;

  .ui-heading {
    font-family: var(--f-family-text);
  }

  h2 {
    margin-top: 0;
  }
  a {
    text-decoration: none;
  }
}

.blog-posts {
  margin: 0 auto;
  padding-bottom: 96px;
  max-width: 830px;

  &__heading {
    .ui-heading {
      font-size: 28px;
      font-weight: 600;
    }
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        border-bottom: 0;
      }
    }
    margin-bottom: 32px;
  }
}

.blog-post {
  color: #445B78;
  padding: 96px;

  background: white;

  border-radius: 4px;
  box-shadow: var(--elevation-2);

  ion-icon {
    vertical-align: middle;
  }

  .ui-heading {
    margin: 0;

    a {
      color: var(--c-carbon-90);
      text-decoration: none;
      border-bottom: none;
      &:hover {
        border-bottom: none;
      }
    }
  }

  img {
    max-width: 100%;
  }

  p {
    // color: #111;
  }

  ul {
    padding-left: 16px;
  }
  ul li {
    margin-top: 6px;
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    &:before {
      display: inline-block;
      content: "-";
      width: 1em;
      margin-left: -1em;
    }
  }

  &__wrap {
    margin: 0 auto;
    padding-bottom: 96px;
    max-width: 830px;
  }


  &__author {
    color: #92A0B3;

    margin-top: 32px;
    margin-bottom: 56px;

    img {
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
      height: 28px;
      border-radius: 50%;
      margin-right: 8px;
    }
  }

  &__continue-reading {
    display: block;
    margin-top: 24px;
  }

  @media (max-width: variables.$breakpoint-sm) {
    padding: 64px 24px;
  }
}
