@use '../../global/variables';
@use '../../global/prism';
@use '../docs-component/docs-content';

blog-page, blog-post {
  display: block;
  background: #F5F5F5;
  padding-top: 100px;
  height: 100%;

  .ui-heading {
    font-family: var(--f-family-text);
  }

  a {
    text-decoration: none;
  }

  .blog-posts {
    margin: 0 auto;
    padding-bottom: 96px;
    max-width: 830px;
  }
  
  .blog-post {
    @include docs-content.docsStyles();
  
    > .ui-heading-1 {
      padding-block-start: 0;
      margin-block-start: 0;
      
      > a {
        color: inherit;
      }
    }
  
    color: #445B78;
    padding: 96px;
  
    background: white;
  
    border-radius: 4px;
    box-shadow: var(--elevation-2);
  
    ion-icon {
      vertical-align: middle;
    }
  
    &__wrap {
      margin: 0 auto;
      padding-bottom: 96px;
      max-width: 830px;
    }
  
  
    &__author {
      color: #92A0B3;
  
      margin-top: 32px;
      margin-bottom: 32px;
  
      img {
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        height: 28px;
        border-radius: 50%;
        margin-right: 8px;
      }
    }
  
    &__continue-reading {
      display: block;
      margin-top: 24px;
    }
  
    @media (max-width: variables.$breakpoint-sm) {
      padding: 64px 24px;
    }
  }

  newsletter-signup {
    margin-block-end: 160px;
  }

  pre-footer {
    z-index: 2;
    background: #fff;
  }
  
}

