@use '../../global/vars' as *;

:host {
  display: block;

  overflow: hidden;

  background: #f8fafc;

  box-shadow: 0 1px 0 0 rgba(0, 20, 56, 0.06);

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.link-wrapper {
  display: block;
}

.ui-container {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 2rem;
}
.ui-paragraph {
  font-size: 0.75rem;
  margin-block-end: 0.2px;
  margin-inline-end: 2rem;
}

button {
  cursor: pointer;

  font-family: inherit;
  border-radius: 1000px;

  font-weight: 600;
  font-size: 11px;
  line-height: 112%;
  display: flex;
  align-items: center;
  text-align: center;

  padding: 0.375rem 0.5rem;

  color: #ffffff;
  background-color: var(--c-blue-80);

  border: none;

  transition: background-color 0.2s ease-out;

  &:hover,
  &:active {
    background-color: var(--c-blue-70);
  }
}

//#region ------------- IONICONF 2022 ------------------
:host(.ui-announcement-bar--ioniconf-2022) {
  background: var(--asset-path);
  background-size: 1800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;

  .ui-container {
    min-height: 4.5rem;
  }

  .ui-paragraph {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.4rem;

    margin-inline-start: 2rem;

    color: #fff;

    strong,
    b {
      color: #fff;
    }
  }

  button {
    background-color: #8bfbff;
    border-radius: 0;
    :hover {
      background-color: #bbfcff;
    }
    :active {
      background-color: #73f6fb;
    }

    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.9rem;
    color: #001a3a;

    padding: 7.5px 12px 9.5px;

    min-height: 32px;

    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
  }
}
