@use '../../global/vars' as *;

:host {
  display: block;
  position: relative;

  background: #fff;
}

.squares {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;

  @media screen and (max-width: $screen-xs) {
    flex-direction: column;
  }
  

  &::before {
    content: '';
    flex-basis: 50%;
    border-inline-end: 1px solid var(--c-indigo-20);
    border-block-start: 1px solid var(--c-indigo-20);    
  }
  &::after {
    content: '';
    flex-basis: 50%;
    border-block-start: 1px solid var(--c-indigo-20);
  }
}

.ui-container {
  position: relative;
  z-index: 1;
  display: flex;
  
  @media screen and (max-width: $screen-xs) {
    flex-direction: column;
  }

  > a {
    flex-basis: 50%;
    padding-block-start: var(--space-9);
    padding-block-end: var(--space-9);

    svg {
      margin-block-end: var(--space-5);
    }

    &:first-of-type {
      padding-inline-end: clamp(32px, 10vw, 88px);

      @media screen and (max-width: $screen-xs) {
        padding-inline-end: 0;
      }
    }
    &:last-of-type {
      padding-inline-start: clamp(32px, 10vw, 88px);

      @media screen and (max-width: $screen-xs) {
        padding-inline-start: 0;
      }
    }
  }
}
