:host {
  display: block;
}

img {
  width: 48px;
  height: 48px;
}

.ui-grid {
  gap: 0;
}

.ui-col {
  padding: 64px 0;
}
.ui-col:first-child {
  border-right: 1px solid var(--c-indigo-20);
}
.ui-col:last-child {
  padding-left: 86px;
}