:host {
  display: block;
  border-block-start: 1px solid var(--c-indigo-20);
  padding-block-start: 64px;
  padding-block-end: 72px;
  position: relative;
  top: -1px;
}

.copyright {
  p {
    font-family: 'Inter';
    color: var(--c-indigo-70);
    font-size: 14px;
    letter-spacing: -0.02em;
    line-height: 1.6em;
    margin: 0;
  }
  a {
    color: var(--c-indigo-70);
    font-weight: normal;
  }
}

img.logo {
  width: 106px;
  margin-bottom: 7px;
}

.ui-heading {
  color: var(--c-carbon-80);
  margin-bottom: 11px;
}

ul li {
  margin-top: 7px;
  letter-spacing: 0;
}

ul li a {
  color: var(--c-indigo-70);
}